{% extends 'base/base.html' %}

{% block content %}

<h2>Login</h2>

<form method="POST">
    {% csrf_token %}

    {% if messages %}
        <div class="form-notice">
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">

    <button type="submit">Login</button>
</form>

{% endblock %}
